body {
  width: 99%;
  display: flex;
  justify-content: center;
  margin-top: 10em;
  font-family: sans-serif;
  background-color: #222;
}

.container-psp,
.psp {
  position: static;
  width: 40em;
  height: 17em;
  border-radius: 10% / 50%;
  background-color: #fbfbf9;
}

.controles-izq {
  position: relative;
  width: 7.2em;
  height: 13em;
}
.controles-dcha {
  position: relative;
  width: 7.2em;
  height: 13em;
  top: -27.6em;
  left: 33em;
}
.controles-inf {
  display: flex;
  align-items: center;
  position: relative;
  width: 25.8em;
  height: 2em;
  top: -30.7em;
  left: 7.2em;
}

.pantalla {
  position: relative;
  width: 25.3em;
  height: 13.5em;
  top: -17em;
  left: 7.4em;
  background-color: black;
}

.altavoz {
  position: relative;
  width: 1.25em;
  height: 0.6em;
  border-radius: 40px;
  background-color: #222;
  box-shadow: 0 0 1px 0 #444 inset, 1px 1px 0 0 #ccc inset,
    -1px 0 0 0 #ccc inset;
}

.icono-play {
  position: absolute;
  top: -3em;
  left: 2em;
}

.text-sony {
  position: relative;
  margin: 0;
  top: -30em;
  left: -3em;
  text-align: right;
  font-family: serif;
  font-weight: bold;
  color: black;
}

/* Marco exterior PSP*/
.esquinas {
  position: relative;
  width: 4.5em;
  height: 1.25em;
}
.esq-arriba-izq {
  left: 1.9em;
  border-radius: 60% 0 / 150% 0;
  box-shadow: -1px -1px 0 0 rgba(204, 204, 204, 0.8) inset;
  background-color: #f1f1ea;
}
.esq-arriba-dcha {
  top: -1.3em;
  left: 33.5em;
  border-radius: 0 60% / 0 150%;
  box-shadow: 1px -1px 0 0 rgba(204, 204, 204, 0.8) inset;
  background-color: #f1f1ea;
}
.esq-abajo-izq {
  bottom: -13.3em;
  left: 1.9em;
  border-radius: 0 60% / 0 150%;
  box-shadow: -1px 1px 0 0 rgba(204, 204, 204, 0.8) inset;
  background-color: #e7e7da;
}
.esq-abajo-dcha {
  bottom: -12em;
  left: 33.5em;
  border-radius: 60% 0 / 150% 0;
  box-shadow: 1px 1px 0 0 rgba(204, 204, 204, 0.8) inset,
    2px 2px 0 0 rgba(204, 204, 204, 0.8) inset,
    3px 3px 0 0 rgba(204, 204, 204, 0.8) inset, -10px -1px 0 0 #111 inset;
  background-color: #111;
}

/* Controles y botones izquierdos */
.alt-izq {
  top: -1.8em;
  left: 5em;
}

.btns-direcciones {
  position: absolute;
  width: 5.7em;
  height: 5.7em;
  top: 0em;
  left: 1.2em;
  border-radius: 50%;
  border: 2px solid #b5b5b5;
  background-color: #f7f7f3;
}

.btn-direccion {
  position: absolute;
  width: 1.6em;
  height: 1.9em;
  border: 1px solid #b5b5b5;
  clip-path: polygon(100% 10%, 0 10%, 0 68%, 30% 100%, 70% 100%, 100% 70%);
  background-color: #f1f1ea;
}
.arriba {
  top: -0.1em;
  left: 2em;
}
.dcha {
  top: 1.8em;
  right: 0.1em;
  transform: rotate(90deg);
  .btn-dcha {
    transform: rotate(-90deg);
  }
}
.abajo {
  bottom: -0.1em;
  left: 2em;
  transform: rotate(180deg);
  .btn-abajo {
    transform: rotate(180deg);
  }
}
.izq {
  top: 1.8em;
  left: 0.1em;
  transform: rotate(-90deg);
  .btn-izq {
    transform: rotate(90deg);
  }
}

.joystick {
  position: absolute;
  width: 3em;
  height: 3em;
  top: 6.5em;
  left: 3em;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: -0.5px 0px 0 0 #60646e, 0.5px 0.5px 0 0 #60646e,
    1px 1px 0 0 #6c707c;
  background-color: #f1f1ea;
}

.indicador-bateria {
  position: absolute;
  width: 0.3em;
  height: 0.3em;
  top: 6em;
  left: 0.6em;
  border-radius: 50%;
  background-color: #60646e;
  .icono-bateria{
    position: relative;
    width: 0.8em;
    top: -0.4em;
    left: 0.6em;
  }
}
.indicador-wifi {
  position: absolute;
  width: 0.3em;
  height: 0.3em;
  top: 7.5em;
  left: 1.1em;
  border-radius: 50%;
  background-color: #60646e;
  .icono-wifi{
    position: relative;
    width: 0.8em;
    top: -0.4em;
    left: 0.4em;
    transform: rotate(45deg);
  }
}

/* Controles y botones derechos */
.alt-dcha {
  top: -2em;
  left: 1em;
}

.btns-iconos {
  position: absolute;
  width: 5.7em;
  height: 5.7em;
  top: 0em;
  left: 0em;
  border-radius: 50%;
  border: 2px solid #b5b5b5;
  background-color: #f7f7f3;
}

.btn-icono {
  position: absolute;
  width: 1.9em;
  height: 1.9em;
  border-radius: 50%;
  border: 0.5px solid #b5b5b5;
  background-color: #f1f1ea;
}
.triangulo {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.1em;
  left: 1.9em;
}
.circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1.9em;
  right: 0.1em;
}
.cruz {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.1em;
  left: 1.9em;
}
.cuadrado {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1.9em;
  left: 0.1em;
}

.indicador-power {
  position: absolute;
  display: flex;
  align-items: center;
  width: 0.3em;
  height: 0.3em;
  top: 6.7em;
  left: 6em;
  border-radius: 50%;
  background-color: #60646e;
  .text-power {
    position: absolute;
    left: -4em;
    font-size: 0.5em;
    color: #60646e;
  }
}

.indicador-hold {
  position: absolute;
  display: flex;
  align-items: center;
  width: 0.3em;
  height: 0.3em;
  top: 9em;
  left: 5.3em;
  border-radius: 50%;
  background-color: #60646e;
  .text-hold {
    position: absolute;
    left: -3em;
    font-size: 0.5em;
    color: #60646e;
  }
}
/* Botones y controles inferiores */

.btn-home {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 1.3em;
  border-radius: 40% / 80%;
  border: 2px solid #b5b5b5;
  background-color: #f7f7f3;
  .text-home{
    font-size: 0.5em;
    color: #60646e;
  }
}

.btn-vol-bajar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3em;
  height: 0.7em;
  left: 3em;
  border-radius: 40% / 80%;
  border: 2px solid #b5b5b5;
  background-color: #f7f7f3;
  .text-min{
    position: relative;
    top: -0.1em;
    font-size: 1em;
    color: #60646e;
  }
}
.text-vol {
  position: absolute;
  left: 6em;
  font-size: 0.8em;
  color: #60646e;
}
.btn-vol-subir {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3em;
  height: 0.7em;
  left: 6.6em;
  border-radius: 40% / 80%;
  border: 2px solid #b5b5b5;
  background-color: #f7f7f3;
  .text-max{
    position: relative;
    top: -0.1em;
    font-size: 1em;
    color: #60646e;
  }
}

.icono-psp {
  position: absolute;
  left: 10.2em;
}

.btn-wifi-off {
  position: absolute;
  width: 1.3em;
  height: 0.7em;
  left: 16em;
  border-radius: 40% / 80%;
  border: 2px solid #b5b5b5;
  background-color: #f7f7f3;
  .icono-wifi-off{
    position: relative;
    width: 0.7em;
    top: -0.2em;
    left: 0.3em;
  }
}
.btn-mute {
  position: absolute;
  width: 1.3em;
  height: 0.7em;
  left: 18em;
  border-radius: 40% / 80%;
  border: 2px solid #b5b5b5;
  background-color: #f7f7f3;
  .icono-mute{
    position: relative;
    width: 0.7em;
    top: -0.2em;
    left: 0.3em;
  }
}

.btn-select {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2em;
  height: 1.3em;
  left: 20.5em;
  border-radius: 40% / 80%;
  border: 2px solid #b5b5b5;
  background-color: #f7f7f3;
  .text-select {
    font-size: 0.5em;
    color: #60646e;
  }
}
.btn-start {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2em;
  height: 1.3em;
  left: 23.5em;
  border-radius: 40% / 80%;
  border: 2px solid #b5b5b5;
  background-color: #f7f7f3;
  .text-start {
    font-size: 0.5em;
    color: #60646e;
  }
}
